# for nlp
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
nltk

streamlit
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
xgboost
boto3
plotly

# for timeseries data analysis
yfinance

# for nlp
bs4
selectorlib

# for predictive models
statsmodels

# for deep learning
tensorflow
keras



# for graph
networkx
pyvis

